lib/fxlib/libavplugin-ffmpeg-56.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libavplugin-ffmpeg-58.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libjfxwebkit.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libprism_common.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libprism_es2.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libdecora_sse.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libglassgtk3.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libgstreamer-lite.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libjavafx_iio.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libjavafx_font.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libavplugin-54.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libavplugin-56.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libavplugin-ffmpeg-57.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libfxplugins.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libjavafx_font_pango.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libprism_sw.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libavplugin-57.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libglassgtk2.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libglass.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libjavafx_font_freetype.so filter=lfs diff=lfs merge=lfs -text
lib/fxlib/libjfxmedia.so filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
