#usernameId
{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-background-color: rgba(255,255,255,0.3);
}

#passwordId{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-background-color: rgba(255,255,255,0.3);
}

#usernameRegId
{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-background-color: rgba(255,255,255,0.3);
}

#passwordRegId{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-background-color: rgba(255,255,255,0.3);
}


#loginButton{
    -fx-text-fill: gray;
    -fx-prompt-text-fill: white;
}

#loginButton:hover{
    -fx-text-fill: rgb(83, 83, 83);
    -fx-prompt-text-fill: white;
}
